<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Samarth Jain" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/gmail.css" />
  </head>

  <body>
    <div id="sj-main">
      <nav>
        <a href="/profile" class="text-decoration-none btn btn-info d-flex align-items-center">Profile<i class="ri-login-box-line ms-2"></i></a>
      </nav>

      <div id="main1" class="main">
        <h1>Hello <%= user.name %></h1>
        <button id="composeBtn" class="btn btn-primary my-3 me-5 px-5 py-2">Compose Mail</button>
        <a href="/receivedMails" class="btn btn-primary my-3 px-5 py-2">Inbox</a> <hr>

        <div id="rows">
          <% user.sentMails.forEach(function(mail){ %>
            <div id="row">
              <p>To : <%= mail.userId.name %></p>
              <p class="d-flex align-items-center"><i class="ri-mail-line me-2"></i> => <%= mail.userId.email %></p>
              <p>mail : <span><%= mail.mailText %></span></p>
              <a href="/delete/mail/<%= mail._id %>" id="deleteMail" class="btn-danger p-2 rounded-2"><i class="ri-delete-bin-line"></i></a>
            </div>
          <% }) %>
        </div>

        <form action="/compose" method="post" id="composeMail" class="m-3">
          <i class="ri-close-line" id="closeComposeMail"></i>
          <h6>Sending mail to :</h6>
          <input type="email" name="receiverMail" id="email" placeholder="admin@gmail.com" class="w-100 px-3 py-2" /><br/>
          <h6>Write your mail here :</h6>
          <textarea name="message" id="message" cols="70" rows="8" placeholder="Write your mail here" class="px-3 py-2" style="resize: none;"></textarea ><br />
          <input type="submit" value="Send" class="btn btn-primary mt-3 px-5" />
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" integrity="sha512-GQ5/eIhs41UXpG6fGo4xQBpwSEj9RrBvMuKyE2h/2vw3a9x85T1Bt0JglOUVJJLeyIUl/S/kCdDXlE/n7zCjIg==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js" integrity="sha512-6BvDODEWgjWWyBrg6YFio6xmzgKWpf54tDlnCtG05m++/jgh/7jQcx6jUJrq44lB84cf68FzYiT0LipabA5g8g==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" ></script>
    <script src="/javascripts/gmail.js"></script>
  </body>
</html>